*{
	margin: 0;
	padding: 0;

	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;

}

html{ background-color: #f5f5f5; }

body{
	font-family: Helvetica, Arial, sans-serif;
}

header{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	padding: 0.25em;
	border-bottom: 1px solid #7BFF51;
	background: #F0F0F0;

	-webkit-animation: hueRotate 15s infinite linear;
	   -moz-animation: hueRotate 15s infinite linear;
	     -o-animation: hueRotate 15s infinite linear;
	     	animation: hueRotate 15s infinite linear; 

}
	@-webkit-keyframes hueRotate { to { -webkit-filter: hue-rotate(360deg); } }
	   @-moz-keyframes hueRotate { to {    -moz-filter: hue-rotate(360deg); } }
		 @-o-keyframes hueRotate { to {      -o-filter: hue-rotate(360deg); } }
			@keyframes hueRotate { to {    	 	filter: hue-rotate(360deg); } }


header h1{
	width: 80vw;
	margin: 0 auto;
	font-size: 1em;
	font-family: "Courier New";
	font-weight: 100;
	color: #414141;
}

header a{
	float: right;
	color: #7BFF51;
	text-decoration: none;
}

header a:hover{ color: #414141; }

#terminal{
    cursor: default;
	overflow-y: scroll;
	padding: 0.5em 1em;
	margin: 2.5% auto;
	width: 80%;
	height: 80vh;
	border: 5px solid #F0F0F0;
	outline: 1px solid #C0C0C0;
	background-color: #181B33;

    -webkit-user-select: none; 
	   -moz-user-select: none;
  		-ms-user-select: none;
  			user-select: none;
	}

.terminal-transitions{
	-webkit-transition: background-color .75s, outline-width .15s .05s linear, border-width .25s .05s linear, margin .25s .05s ease-in-out, height .25s .05s ease-in-out, width .25s .30s ease-in-out;
  	   -moz-transition: background-color .75s, outline-width .15s .05s linear, border-width .25s .05s linear, margin .25s .05s ease-in-out, height .25s .05s ease-in-out, width .25s .30s ease-in-out;
  		-ms-transition: background-color .75s, outline-width .15s .05s linear, border-width .25s .05s linear, margin .25s .05s ease-in-out, height .25s .05s ease-in-out, width .25s .30s ease-in-out;
  		 -o-transition: background-color .75s, outline-width .15s .05s linear, border-width .25s .05s linear, margin .25s .05s ease-in-out, height .25s .05s ease-in-out, width .25s .30s ease-in-out;
  			transition: background-color .75s, outline-width .15s .05s linear, border-width .25s .05s linear, margin .25s .05s ease-in-out, height .25s .05s ease-in-out, width .25s .30s ease-in-out;
}

#terminal.light{ background-color: #EEE8D5; }

#terminal, #terminal input#commands{
	color: #C5FFA9;
	font-family: "Courier New";
	font-size: 1em;
	line-height: 1.15em;
}

#terminal input#commands, #terminal label{
	-webkit-transition: background-color .75s;
	   -moz-transition: background-color .75s;
		-ms-transition: background-color .75s;
		 -o-transition: background-color .75s;
			transition: background-color .75s;
}

#terminal input#commands.light, #terminal label.light{ color: #002B36; }

#terminal label{
	width: 10%;
	margin-right: 0.65em;
}

#terminal input#commands{
	font-size: 1em;
	display: inline-block;
	width: 90%;
	background: none;
	border: none;
}

#terminal input#commands:focus{
	outline: none;
}

#terminal #text p{
	white-space: pre-wrap;
}

.fullscreen{
	width: 100% !important; 
	height: 100vh !important;
	margin: 0 auto !important;
	border-width: 0 !important;
	outline-width: 0 !important;
}

/* terminal text colours */

.items{	color: #0099FF; }
.exits{	color: #83CC66; }
.title{	color: #EB9D0D; }
.description{ color: #CC9966; }
.npcs{ color: #5851FF; }

.warn{ color: #DC322F; }
.dull{ color: #DDD; }

/* map and it's icons */

.map{ color: #226997; line-height: 1em; }
.player{ color: #FFFF8E; }
.locked{ color: #B64242; }
.fog{ color: transparent; -webkit-filter: blur(0.5em); text-shadow: 0 0 1.5em #DDD;}
.unlocked{ color: #4CA34C; }
.mapicon{ display: inline-block; color: #EB9D0D; 

	-webkit-animation: iconSpin 2s infinite linear;
	   -moz-animation: iconSpin 2s infinite linear;
	     -o-animation: iconSpin 2s infinite linear;
	     	animation: iconSpin 2s infinite linear;
}
	@-webkit-keyframes iconSpin { to { -webkit-transform: rotateY(360deg); } }
	   @-moz-keyframes iconSpin { to {    -moz-transform: rotateY(360deg); } }
		 @-o-keyframes iconSpin { to {      -o-transform: rotateY(360deg); } }
			@keyframes iconSpin { to {    	   transform: rotateY(360deg); } }

@media (max-width: 740px) {
	header h1{ font-size: 0.85em; }
	header a{ display: none; }
	#terminal{ 	margin: 5% auto; }
	#terminal, #terminal input#commands{
		font-size: 1em;
		line-height: 1em;
	}
}

@media (max-width: 480px) {
	header h1{ font-size: 0.55em; }
	#terminal, #terminal input#commands{
		font-size: 0.8em;
		line-height: 0.9em;
	}
}